<div>
  <p>Event Binding</p>
  <p>{{value}}</p>
  <button (click)="add()" (keydown.a)="add()">+</button>
  <button (click)="subtract()" (keydown.s)="subtract()">-</button>
  <div class="square" (mousemove)="onMouseMove($event)">
    <span>X={{centerX}}px - Y={{centerY}}px</span>
  </div>
</div>
