:host {
  div {
    padding: 0px 10px;
    margin: 10px 0px;
    border: 1px solid black;
  }
  .square {
    height: 300px;
    width: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}