<div>
  <p>Template variables</p>

  <!-- 
    O '#' é usado para criar uma referência de variável local a
    um elemento do DOM ou a um componente Angular em um template.
  -->
  <p #name>Leandro Shoiti</p>
  <p>{{ name.innerText }}</p>

  <!-- Ele não é reativo -->
  <input #teste value="Teste"/>
  <p>{{ teste.value }}</p>

  <app-child />
</div>