<div>
  <!-- 
    ngClass e ngStyle quanto a vinculação de classes diretamente usando [class] e [style]
    são usados para manipular dinamicamente as class e style do CSS de elementos. Porém,
    o ngClass e ngStyle é necessário quando existe várias class e style com base em condições
    mais complexas.
   -->
  <p>Diretivas de Atributos: ngClass e ngStyle</p>
  <button (click)="add()">+</button>
  <button (click)="subtract()">-</button>
  <p>{{size}}px [se for maior que 25, o tema muda]</p>
  <p [ngClass]="{ 'background-dark': size > 25 }">Classes condicionais</p>
  <p [ngStyle]="{
    'font-size.px': size,
    'background-color': size > 25 ? 'black' : 'white',
    'color': size > 25 ? 'white' : 'black'
  }">Estilo dinâmico</p>
</div>