<div>
  <p>Attribute Binding</p>
  <!-- 
    O binding de atributo é feito da seguinte forma:
    <tag [attr.NomeDoAtributo]="variavel"></tag> 
   -->
  <p [attr.aria-label]="name">Leandro Shoiti</p>
</div>
