/*
 * A ordem de prioridade está da maior prioridade para o menor, de 1 a 4.
 */


// Prioridade 3
p {
  background-color: purple;
}

/*
 * Prioridade 2
 * O seletor :host que permite aplicar style somente do componente em sí,
 * em vez de elementos filhos.
 */
:host {
  p {
    background-color: blue;
    color: white
  }
}

/*
 * Prioridade 1
 * O seletor :host-context que permite aplicar style com base do contexto do componente pai.
 */
:host-context(.theme-dark) {
  p {
    background-color: black;
  }
}

:host-context(.theme-green) {
  p {
    background-color: green;
  }
}

/*
 * Prioridade 4
 * O seletor ::ng-deep permite que você contorne o encapsulamento de styles.
 * Como mostrado abaixo, a classe .theme-dark foi modificado para ter um border,
 * todos os outro componentes que usam da mesma classe serão modificado. Porém,
 * ele tem menor prioridade até para o Style Global.
 */
::ng-deep {
  .theme-dark {
    border: 5px solid red;
    color: pink;
  }
}