<div>
  <p>Class and Style Binding</p>
  <p [class.background-blue]="false">Class Teste com .background-blue desativado com false</p>
  <p [class.background-blue]="true">Class Teste com .background-blue ativo com true</p>
  <p [class.background-blue]="textColor === 'blue'">Class Teste com .background-blue desativado com operador ===</p>
  <p [class.background-blue]="textColor === 'white'">Class Teste com .background-blue ativo com operador ===</p>
  <p [style.background-color]="'blue'" [style.color]="textColor">Style Teste</p>
</div>
