<div>
  <p>Property Binding</p>
  <!-- 
    O binding de propriedades é feito da seguinte forma:
    <tag [propriedade]="variavel"></tag> 
  -->
  <button [disabled]="isDisabled">Botão</button>
  <img [src]="uriImage" />
</div>
