<div>
  <!-- 
    o binding two-way é utilizado para manter uma sincronização bidirecional entre o modelo
    e a view, sendo especialmente útil em formulários.

    Obs.: Precisa dar import no FormsModule
  -->
  <p>Two-Way Binding</p>
  <input [(ngModel)]="value" />
  {{ value }}
</div>
