<div>
  <!-- Text Interpolation é usado para implementar regras de negócio dentro do HTML -->
  <p>Text Interpolation</p>
  <p>Nome: {{ name }}</p>
  <p>Soma de 4 + 5: {{ 4 + 5 }}</p>
  <p>Método que soma de 4 + 5: {{ addFiveMore(4) }}</p>
</div>