<div>
  <h2>IF, ELSE IF e ELSE</h2>

  <h3>Nova forma - Control Flow</h3>

  @if(ifValue === 1) {
    <p>Entrou no if</p>
  } @else if(ifValue === 2) {
    <p>Entrou no else if</p>
  } @else {
    <p>Entrou no else</p>
  }

  <br />

  <h3>Antiga forma - Diretiva</h3> 

  <!-- Não existe a condição de else if -->
  <ng-container *ngIf="ifValue === 1; elseIfBlock">
    <p>Entrou no if</p>
  </ng-container>
  <ng-template #elseIfBlock>
    <ng-container *ngIf="ifValue === 2;  else elseBlock">
      <p>Entrou no else if</p>
    </ng-container>
    <ng-template #elseBlock>
      <p>Entrou no else</p>
    </ng-template>
  </ng-template>

  <br /><br />

  <h2>FOR</h2>
  <h3>Nova forma - Control Flow</h3>

  <!-- 
    Track serve para a renderização dos itens seja individual, não forçando uma
    renderização total do FOR.
   -->
  @for(item of itens; track item.name) { 
    <p>{{ item.name }}</p>
  }

  <!-- 
    Outros valores
    index: index da array,
    count: quantidade de elementos da array,
    first: Boleano que indica se o elemento é o primeiro da array,
    last: Boleano que indica se o elemento é o ultimo da array,
    even: Boleano que indica se o elemento é par,
    odd: Boleano que indica se o elemento é impar,
   -->
  @for(
    item of itens;
    track item.name;
    let i = $index;
    let c = $count;
    let f = $first;
    let l = $last;
    let e = $even;
    let o = $odd;  
  ) {
    <p>{{item.name}} index:{{i}} count:{{c}} first:{{f}} last:{{l}} even:{{e}} odd:{{o}}
  }

  <!-- Função empty para caso de array vazia -->
  @for(item of arrayEmpty; track item.name) { 
    <p>{{ item.name }}</p>
  } @empty {
    <p>Lista vazia!</p>
  }

  <br />

  <h3>Antiga forma - Diretiva</h3>

  <ng-container *ngFor="let item of itens; trackBy: trackByFn" >
    <p>{{item.name}}</p>
  </ng-container>

  <ng-container *ngFor="
    let item of itens;
    trackBy: trackByFn;
    let i = index;
    let c = count;
    let f = first;
    let l = last;
    let e = even;
    let o = odd;
  " >
    <p>{{item.name}} index:{{i}} count:{{c}} first:{{f}} last:{{l}} even:{{e}} odd:{{o}}</p>
  </ng-container>

  <!-- Na versão antiga, a função empty não existe -->
  <ng-container *ngIf="arrayEmpty.length !== 0; else isEmpty">
    <ng-container *ngFor="let item of arrayEmpty; trackBy: trackByFn" >
      <p>{{item.name}}</p>
    </ng-container>
  </ng-container>
  <ng-template #isEmpty>
    <p>Lista vazia!</p>
  </ng-template>

  <br /><br />

  <h2>SWITCH</h2>

  <h3>Nova forma - Control Flow</h3>

  @switch (switchValue) {
    @case('A') {
      <p>Case A</p>
    }
    @case('B') {
      <p>Case B</p>
    }
    @default {
      <p>Default</p>
    }
  }

  <br />

  <h3>Antiga forma - Diretiva</h3> 

  <ng-container [ngSwitch]="switchValue">
    <ng-container *ngSwitchCase="'A'">
      <p>Case A</p>
    </ng-container>
    <ng-container *ngSwitchCase="'B'">
      <p>Case B</p>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <p>Default</p>
    </ng-container>
  </ng-container>

  <br /><br />

</div>  